<div class="text-center" style="width:400px;">
  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1>Sign Up</h1>
  <%= form_for @user do |f|%>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <div class="field">
      <%= f.label :name, class:"sr-only" %>
      <%= f.text_field :name, class:"form-control", id:'inputEmail', placeholder:'name'%>
    </div>
    <br>
    <div class="field">
      <%= f.label :email, class:"sr-only"%><br />
      <%= f.email_field :email, class:"form-control", id:'inputEmail', placeholder:'email'%>
    </div>
    <br>
    <div class="field">
      <%= f.label :password, class:'sr-only'%><br />
      <%= f.password_field :password, id:"inputPassword", class:"form-control", placeholder:"Password"%>
    </div>
    <br>
    <div class="field">
      <%= f.label :password_confirmation, class:'sr-only'%><br />
      <%= f.password_field :password_confirmation, id:"inputPassword", class:"form-control", placeholder:"Password"%>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Sign Up", class:'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>
  <br>
  <div class="info">
    <p>Already have an account? Please sign in here <%= link_to "Log in", login_path %></p>
  </div>
</div>
