<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="jumbotron center-align">
  <h1 class="display-6">Hello, <%=current_user ? current_user.name : 'world'%></h1>
  <p class="lead">Latest events from around the world</p>
  <a class="btn btn-primary btn-lg" <%= link_to "Learn More" %></a>
</div>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
  <div class="list-group">
    <% if !@events.blank? %>
      <% @events.each do |event| %>
        
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <%= link_to event.title, event %>
            <% if current_user %>
              <small>By <%= event.user.name %></small>
            <% end %>
            <small>Event Date: <%= event.date.strftime("%A %B %d, %Y") %></small>
          </div>
        </div>
      <%end%>
    <% else %>
      Nothing Here
    <%end%>
  </div>