<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" <%= link_to "EventBrites", root_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Home", root_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Event", event_index_path %></a>
      </li>
    
    </ul>
    
    <% if !current_user %>
    <a class="btn btn-success mr-1" <%= link_to "Sign up", sign_up_path %></a>
    <a class="btn btn-success" <%= link_to "Sign in", login_path %></a>
      <% else %>
      <ul class="navbar-nav mr-2">
      <li class="nav-item">
        <a class="nav-link" <%= link_to "New Event", event_new_path %></a>
      </li>
    </ul>
      <a class="btn btn-success" <%= link_to "Log out", logout_path, method: :delete %></a>
    <% end %> 
  </div>
</nav>